#container {
    height: 450px;
    width: auto;
    display: flex;
   align-items: center;
    justify-content: center;
    flex-direction: column;
}

#currentColor {
    height: 100x;
    width: 400px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
}

#button {
    margin-top: 40px;
    border-radius: 5px;
}

